@using Microsoft.AspNetCore.Identity
@inject ILanguageService language

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header class="section-header">
    @if (User.IsInRole("Admin"))
    {
        <partial name="_Navbar" />
    }
    else
    {


        <section class="header-main border-bottom bg-white mt-0 p-3">
            <div class="container-fluid">
                <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                    <div class="col-md-2 d-flex justify-content-center">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="bi bi-cart-check-fill" style="font-size: 45px;color: #5d18eb">
                            </i>
                        </a>
                    </div>
                    <div class="col-md-5">
                        <div class="d-flex form-inputs justify-content-center align-items-center">
                            <form asp-action="Index" asp-controller="Home" method="get">
                                <div class="form-group">
                                    <input type="text" name="search" value="@ViewData["currentSearch"]" />
                                    <input type="submit" name="Search" class="btn btn-primary" />
                                </div>
                            </form>
                            @*<input class="form-control" type="text" name="search"  placeholder="@language.Getkey("Search any product...")">
                            <i class="bi bi-search" style="color:black;margin-bottom:3em"></i>*@
                        </div>
                    </div>


                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="d-flex d-none d-md-flex flex-row align-items-center">
                            <i class="bi bi-person" style="font-size:30px"></i>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-weight:bold;">@UserManager.GetUserName(User)</a>

                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">@language.Getkey("Logout")</button>
                                </form>
                            }
                            else
                            {
                                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@language.Getkey("Register")</a>
                                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@language.Getkey("Login")</a>
                            }
                            <div class="row">
                                <div class="col-lg-12 dropdown">
                                    <div class="dropdown">
                                        <i class="bi bi-globe-americas dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:30px;margin-left:1em;"></i>
                                        <ul class="dropdown-menu">

                                            <li><a style="color:black" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"> @language.Getkey("English")</a></li>

                                            <li><a style="color:black" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="es-ES" class="nav-link"> @language.Getkey("Español")</a></li>

                                            <li><a style="color:black" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ja-JP" class="nav-link"> @language.Getkey("Japanese")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center">
                        <div class="d-flex d-none d-md-flex flex-row align-items-center">
                            <a asp-controller="Cart" asp-action="Index"><span class="shop-bag"><i class="bi bi-basket-fill"></i></span></a>
                            <div class="d-flex flex-column ms-2">
                                <span class="qty"><a asp-controller="Cart" asp-action="Index" style="color:black;font-size:20px">@language.Getkey("Cart")</a></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
</header>