@model IEnumerable<BackUp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> &nbsp; Create New Product
            </a>
        </div>

    </div>

    <br /><br />

          <table id="tblData" class="table table-bordered table-striped" style="width:100%">
              <thead>
                  <tr>
                      <th>
                          Title
                      </th>
                      <th>
                          Price
                      </th>
                      <th>
                          Image
                      </th>
                      <th>
                          Category
                      </th>
                      <th>
                          Transactions
                      </th>

                  </tr>
              </thead>
              <tbody>
                  @foreach (var obj in Model)
                  {
                      <tr>
                          <td width="50%">
                              @obj.Title
                          </td>
                          <td width="30%">
                              @obj.Price
                          </td>
                          <td>
                              <img src="@obj.Image" class="img-fluid" />
                          </td>
                          <td>
                              @obj.Category.CategoryName
                          </td>
                          <td>
                              <div class="w-75 btn-group" role="group">
                                  <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.ID" class="btn btn-primary mx-2"><i class="bi bi-pencil"></i>Edit</a>
                                  <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ID" class="btn btn-danger mx-2"><i class="bi bi-archive"></i>Delete</a>
                              </div>
                          </td>
                      </tr>
                  }
              </tbody>
          </table>

</div>
